body {
  background: #000000;
}

.container {
  width: 99.99%;
  margin: auto;
}

.button {
  width: 10%;
  background-color: #00bdfd;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  font-style: oblique;
  border: none;
  padding: 10px;
}

.button:hover {
  background-color: red;
  color: white;
}

.clr {
  clear: both;
}

.fix {
  position: relative;
  left: 60px;
  bottom: 100px;
}
.box-1 {
  background-color: #121212;
  color: #e44d26;
  border: 3px red solid;
  padding: 3%;
  margin: 5px;
}

.box-1 h1 {
  color: #009a68;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  text-align: center;
  font-weight: normal;
  text-decoration: underline;
  text-transform: uppercase;
  font-style: italic;
}

.box-1 h2 {
  text-align: right;
  font-style: italic;
}

.box-2 {
  font-family: sans-seri;
  border: 3px #c800b1 solid;
  padding: 3%;
  margin: 5px;
  margin-top: 10px;
}

.box-2 h1 {
  color: #00e8e7;
}
.box-2 p {
  color: #0eee99;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #f51e7a;
}
a:hover {
  color: red;
}
a:active {
  color: green;
}

.list {
  border: 3px #0d99ff solid;
  padding: 10px;
  border-radius: 15px;
  margin: 10px;
}

.list h1 {
  color: #fdfa02;
  text-align: center;
}

.list ul {
  list-style: square;
  color: white;
  padding: 5%;
  font-size: 19px;
}

.list li {
  padding-bottom: 3px;
  border-bottom: solid 2px #0d99ff;
  /* list-style-image: ;*/
}

.my-form {
  color: white;
  padding: 20px;
  margin: 20px;
  /* border: 3px green solid;
  border-radius: 10px;
  */
}

.form-g {
  color: #c276d7;
  padding: 5px;
}

.my-form label {
  display: block;
}

.my-form input[type="text"],
.my-form textarea {
  padding: 8px;
  width: 60%;
}
/* its apply even after global v */
/* .my-form input[type="submit"] {
  width: 10%;
  background-color: #00bdfd;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  font-style: oblique;
  border: none;
  padding: 10px;
  position: relative;
  left: 1%;
}
 */

.block {
  color: white;
  float: left;
  width: 33.3%;
  padding: 1%;
  border: 1px solid blue;
  border-radius: 10px;
  box-sizing: border-box;
}

#main-block {
  float: left;
  width: 70%;
  color: white;
  padding: 26px;
  box-sizing: border-box;
  border: solid 2px green;
}

#main-block h3 {
  text-transform: uppercase;
}

#sidebar {
  float: left;
  width: 30%;
  color: white;
  background-color: #555f70;
  border: 3px solid green;
  padding: 8px;
  box-sizing: border-box;
}

.p-box {
  color: white;
  width: 800px;
  height: 500px;
  border: 1px solid #b446e0;
  margin-top: 20px;
  position: relative;
  background-image: url("img/arch_btw.jpg");
  background-position: center top;
  background-repeat: no-repeat;
}

.p-box h1 {
  position: absolute;
  top: 10%;
  left: 35%;
}

.p-box h2 {
  position: relative;
  top: 80%;
  left: 44%;
}

.new li:first-child {
  background: blue;
}

.new li:last-child {
  background: red;
}

.new li:nth-child(8) {
  background-color: green;
}

/*.new li:nth-child(even) {
  background: #95c379;
}*/
